.env
*.DS_Store
!.gitkeep

/config/php/5.5/*.ini
/config/php/5.6/*.ini
/config/php/7.0/*.ini
/config/php/7.1/*.ini

/config/nginx/sites-available/*.conf
!/config/nginx/sites-available/*-example

/config/db/mysql/*.cnf
!/config/db/mysql/*-example
/config/db/percona/*.cnf
!/config/db/percona/*-example
/config/db/mariadb/*.cnf
!/config/db/mariadb/*-example

/logs/nginx/*.log

/data/databases/firebird/*
!/data/databases/firebird/.gitkeep
/data/databases/mysql/*
!/data/databases/mysql/.gitkeep
/data/databases/percona/*
!/data/databases/percona/.gitkeep
/data/databases/mariadb/*
!/data/databases/mariadb/.gitkeep
/data/www/*
!/data/www/.gitkeep
