/config/php/5.5/*.ini
/config/php/5.6/*.ini
/config/php/7.0/*.ini
/config/php/7.1/*.ini
/config/php/7.2/*.ini
/config/php/7.3/*.ini

/config/nginx/*.conf
!/config/nginx/*-example
/config/nginx/sites-available/*.conf
!/config/nginx/sites-available/*-example

/config/db/firebird/2.5/*.conf
!/config/db/firebird/2.5/*-example
/config/db/firebird/3.0/*.conf
!/config/db/firebird/3.0/*-example
/config/db/mysql/*.cnf
!/config/db/mysql/*-example
/config/db/percona/*.cnf
!/config/db/percona/*-example
/config/db/mariadb/*.cnf
!/config/db/mariadb/*-example
/config/db/postgres/*.conf
!/config/db/postgres/*-example
/config/db/redis/*.conf
!/config/db/redis/*-example

/dockerfiles/resources/firebird/2.5/config/hqbird/conf/*
!/dockerfiles/resources/firebird/2.5/config/hqbird/conf/*-example

/data/db/firebird/2.5/*
/data/db/firebird/3.0/*
/data/db/mysql/*
/data/db/percona/*
/data/db/mariadb/*
/data/db/postgres/*
/data/db/redis/*
/data/www/*

!.gitkeep
.env
*.swp
*.DS_Store
.php_cs.cache
*.rdb
