###########################################
# Project - Nginx
###########################################

PROJECT_DIR=./data/www

HTTP_PORT=80
NGINX_LOG_DIR=./logs/nginx
NGINX_SERVERS_DIR=./config/nginx/servers

###########################################
# Firebird
###########################################

FIREBIRD_ROOT_USER=sysdba
FIREBIRD_ROOT_PASSWORD=masterkey
FIREBIRD_PORT=3050
FIREBIRD_DATADIR=./data/databases/firebird