###########################################
# Damabox
###########################################

DB_CONFIG_DIR=./config/db
PHP55_CONFIG_DIR=./config/php/5.5
PHP56_CONFIG_DIR=./config/php/5.6
PHP70_CONFIG_DIR=./config/php/7.0
PHP71_CONFIG_DIR=./config/php/7.1

###########################################
# Project - Nginx
###########################################

PROJECT_DIR=./data/www

HTTP_PORT=80
NGINX_LOG_DIR=./logs/nginx
NGINX_CONFIG_DIR=./config/nginx

###########################################
# Firebird
###########################################

FIREBIRD_ROOT_USER=sysdba
FIREBIRD_ROOT_PASSWORD=masterkey
FIREBIRD_PORT=3050
FIREBIRD_DATADIR=./data/databases/firebird

###########################################
# MySQL
###########################################

MYSQL_TYPE=mysql
MYSQL_VERSION=5.7
MYSQL_PORT=3306
MYSQL_ROOT_PASSWORD=root
MYSQL_DATADIR=./data/databases/mysql
